*{
    font-size: 62, 5%;
    box-sizing: border-box;
    margin: 0;
}

#logo{
    width: 150px;
    height: 150px;
}
  
body{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
main{
    width: 40rem;
    height: 43rem;
    background-color: rgb(247, 225, 199);
    -webkit-box-shadow: 0px 5px 15px 8px antiquewhite;
    box-shadow: 0px 5px 15px 8px antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}
  
#header{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
    padding-top: 0;
}
  
h1{
    font-family: "Acme";
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
    text-align: center;
}
  
#leaderboard{
    width: 100%;
    position: relative;
}
  
table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
}
  
tr{
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}
  
tr:not(:first-child):hover{
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
}
  
tr:nth-child(odd){
    background-color: antiquewhite;
}
  
td{
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
}
  
.number{
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
}
  
.name{
    text-align: left;
    font-size: 1.2rem;
}
  
.points{
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.points:first-child{
    width: 10rem;
}
  
.ribbon{
    width: 42rem;
    height: 5.5rem;
    top: -0.5rem;
    background-color: #f5a42a;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
}
  
.ribbon::before{
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #f5a42a;
    position: absolute;
    z-index: -1;
}
  
.ribbon::after{
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #f5a42a;
    position: absolute;
    z-index: -1;
}
  
.button{
    display: flex;
    justify-content: center;
}

#button{
    font-family: 'Acme';
    font-size: 25px;
    width: 300px;
    text-decoration: none;
    color: #f5a42a;
    border-style: solid;
    border-radius: 50px;
    border-spacing: 10px;
    border-color: indigo;
    background-color: indigo;
    margin-top: 30px;
    text-align: center;
}

#button:hover{
    color: indigo;
    border-color: #f5a42a;
    background-color: #f5a42a;
    transform: scale(1.2);
}

#button:active{
    color: #f5a42a;
}