body{
    margin: 0;
    background-color: antiquewhite;
}

#logo{
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

.body{
    text-align: center;
}

.box{
    background-color: antiquewhite;
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startbutton{
    font-family: 'Acme';
    font-size: 50px;
    width: 300px;
    text-decoration: none;
    color: #f5a42a;
    border-style: solid;
    border-radius: 50px;
    border-spacing: 20px;
    border-color: indigo;
    background-color: indigo;
}

#startbutton:hover{
    color: indigo;
    border-color: #f5a42a;
    background-color: #f5a42a;
    transform: scale(1.1);
}

#startbutton:active{
    color: #f5a42a;
}

.question{
    font-family: 'Acme';
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
}

select, .textinput{
    height: 25px;
    border-radius: 50px;
    font-family: "Acme";
    font-size: 15px;
    text-align: center;
}

.textinput {
    width: 250px;
}

select{
    width: 150px;
}

.box2{
    border-style: solid;
    border-radius: 20px;
    border-color: antiquewhite;
    background-color: antiquewhite;
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.button{
    font-family: 'Acme';
    font-size: 25px;
    width: 300px;
    text-decoration: none;
    color: #f5a42a;
    border-style: solid;
    border-radius: 50px;
    border-spacing: 10px;
    border-color: indigo;
    background-color: indigo;
    margin-top: 30px;
}

.button:hover{
    color: indigo;
    border-color: #f5a42a;
    background-color: #f5a42a;
    transform: scale(1.2);
}

.button:active{
    color: #f5a42a;
}

label{
    font-family: 'Acme';
    font-size: 15px;
}

.checkbox, .radio{
    height: 15px;
    width: 15px;
}
.checkbox{
    accent-color: #f5a42a;

}

.radio{
    accent-color: indigo;
}

.error{
    font-family: 'Acme';
    font-size: 15px;
    color: red;
}

.box3{
    border-style: solid;
    border-radius: 20px;
    border-color: antiquewhite;
    background-color: antiquewhite;
    width: 700px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#complete{
    font-family: 'Acme';
    font-size: 50px;
}

#backbutton{
    font-family: 'Acme';
    font-size: 25px;
    text-decoration: none;
    color: #f5a42a;
    border-style: solid;
    border-radius: 50px;
    border-color: indigo;
    background-color: indigo;
    padding-left: 20px;
    padding-right: 20px;
}

#backbutton:hover{
    color: indigo;
    border-color: #f5a42a;
    background-color: #f5a42a;
    margin-top: 20px;
}

#backbutton:active{
    color: #f5a42a;
}

.highscore{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 400px;
    overflow: auto;
}

table, tr, td {
    border-style: solid;
}

table{
    border-collapse: collapse;
    width: 30%;
}

thead{
    font-family: 'Acme';
    font-size: 25px;
    text-align: center;
    height: 30px;
    width: 150px;
    background-color: #f5a42a;
}

tbody{
    font-family: 'Acme';
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 150px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}