<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trivia Web</title>
    </head>
    <body>
        
        <div class="header">
            <p>LOGO</p>
        </div>
        
        <div class="body">
            <div class="box">
                <p class="title">Get Quizzed!</p>
                <a class="button" href="/selection">Start Now</a>
            </div>
        </div>

    </body>
</html>