<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <div class="header">
            <a href="/home">LOGO</a>
        </div>

        <div class="body">
            <div class="box">
                <p>Current Score: <span data-th-text="${score}"></span></p>
                <form method="POST" data-th-action="@{/next}" data-th-object="${currentQuestion}">
                    <p data-th-text="*{question}"></p>
                    <div data-th-each="answer : ${currentQuestion.allAnswers}">
                        <input type="radio" id="answer" name="answer" data-th-value="${answer}" required>
                        <label for="answer" data-th-text="${answer}"></label>
                    </div>
                    <br>
                    <button type="submit">Submit Answer</button>
                </form>
            </div>
        </div>

    </body>
</html>