<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <title>Quiz Selection</title>
    </head>
    <body>
        
        <div class="header">
            <a href="/home">
                <img id="logo" src="/logo.png" alt="">
            </a>
        </div>
        
        <div class="body">
            <div class="box2">
                <form method="POST" data-th-action="@{/quiz}" data-th-object="${quizForm}">
                    <table>
                        <tr>
                            <p class="question">Number of Questions</p>
                            <select name="numberofquestions" id="numberofquestions" data-th-field="*{numberOfQuestions}">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </tr>
                        <tr>
                            <p class="question">Difficulty</p>
                            <select name="difficulty" id="difficulty" data-th-field="*{difficulty}">
                                <option value="easy">Easy</option>
                                <option value="medium">Medium</option>
                                <option value="hard">Hard</option>
                            </select>
                        </tr>
                        <tr>
                            <p class="question">Categories</p>
                            <input type="checkbox" id="music" name="music" value="music" data-th-field="*{categories}">
                            <label for="music">Music</label>
                            <input type="checkbox" id="sport_and_leisure" name="sport_and_leisure" value="sport_and_leisure" data-th-field="*{categories}">
                            <label for="sport_and_leisure">Sport & Leisure</label>
                            <input type="checkbox" id="film_and_tv" name="film_and_tv" value="film_and_tv" data-th-field="*{categories}">
                            <label for="film_and_tv">Film & TV</label>
                            <input type="checkbox" id="arts_and_literature" name="arts_and_literature" value="arts_and_literature" data-th-field="*{categories}">
                            <label for="arts_and_literature">Arts & Literature</label>
                            <input type="checkbox" id="history" name="history" value="history" data-th-field="*{categories}">
                            <label for="history">History</label><br>
                            <input type="checkbox" id="society_and_culture" name="society_and_culture" value="society_and_culture" data-th-field="*{categories}">
                            <label for="society_and_culture">Society & Culture</label>
                            <input type="checkbox" id="science" name="science" value="science" data-th-field="*{categories}">
                            <label for="science">Science</label>
                            <input type="checkbox" id="geography" name="geography" value="geography" data-th-field="*{categories}">
                            <label for="geography">Geography</label>
                            <input type="checkbox" id="food_and_drink" name="food_and_drink" value="food_and_drink" data-th-field="*{categories}">
                            <label for="food_and_drink">Food & Drink</label><br>
                            <input type="checkbox" id="general_knowledge" name="general_knowledge" value="general_knowledge" data-th-field="*{categories}">
                            <label for="general_knowledge">General Knowledge</label>
                            <br>
                            <span data-th-if="${#fields.hasErrors('categories')}" data-th-errors="*{categories}" data-th-errorclass="error"></span>
                        </tr>
                        <br>
                        <button class="button" type="submit">Generate Quiz</button>
                    </table>
                </form>
            </div>
        </div>

    </body>
</html>